<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <style>
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
  </style>
  <body>
    {{ content }}
    <script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button
  buy-button-id="buy_btn_1SJjZGCcA6wD5ZtXZtYQVNQK"
  publishable-key="pk_test_51SDpGYCcA6wD5ZtXKtwG4vdoRT3sxLiIUusYykEA4R7kpcg53PZeEaDLJiZp7yd35bcW0ST3LvRrQ2qTheAOzicS00RKWpYK9w"
>
</stripe-buy-button>
  </body>
</html>
